// $primary-color: #2c3e50;
// $secondary-color: #4ca1af;

// $white-color: #fff;

// $dark-grey: #333333;

// $dark-blue-text: #272341; // For Headings

$purple-1: #8f51e8;
$purple-2: #987ef4;
$purple-3: #dabff8;

$blue-1: #99f6e5;
$blue-2: #7bb4e2;

$primary-color: #987ef4;
$secondary-color: #5921e6;
$color-dark: #171717;
$dark-grey: #333333;
$color-white: rgba(230, 230, 230, 0.8);
$color-gray: rgba(218, 218, 218, 0.623);
$color-dark-blue-text: #554d8a;

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
